body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 170px;
	left: -173px;
	float: left;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}



/*.ryu-still {
	display: block;
}
.ryu-ready, .ryu-throwing {
	display: none;
}
.ryu-throwing {
	display: none;
} */

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
	display: block;
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
	display: none;
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
	display: none;
} 

.how-to {
	position: absolute;
	font-family: comical;
	left: 650px;
	height: 425px;
	width: 600px;
	padding-top: 75px;
}

.how-to p {
	width: 50%;
	color: black;
	font-size: 24px;
	line-height: 45px;
}	

.how-to p + p {
	margin-left: 275px;
}